<html>
<head>
    <style type="text/css">
      input { height:25px; width:25px; }
      .weight { height: 40px; width: 55px;}
      li { list-style:none; font-size: 30px;}
      div { float: left; margin: 5px 15px; min-width: 800px; min-height: 10%; font-size: 20px;}
      #server-up   { min-width: 10%;}
      #server-down { min-width: 10%;}
    </style>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
  <body>
    <div id="main">
      <h3>请选择要操作的域名</h3>
      <form id="form" onsubmit="return checkData()">
        <!--
        <form id="form" method="post" action="nginx" onsubmit="return checkData()" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
        -->
        <!--域名展示开始-->
        <ul>
          {% for domain in domains %}
            <li class="domains"><input name="domain"  type="radio" value="{{ domain }}"/>{{ domain }}</li>
          {% endfor %}
        </ul>
        <!--域名展示结束-->
        <!--下线列表服务器HTML开始-->
        <div id="server-down">
          <!--test for display
          <h4>已下线服务器列表: </h4>
          <li><input name="servers-down" type="checkbox" value="128.0.255.11">128.0.255.11</input></li>
          操作类型: <input type="radio" name="down-action" checked value="up">上线</input>
          -->
        </div>
        <!--下线列表服务器HTML结束-->
        <!--上线列表服务器HTML开始-->
        <div id="server-up">
          <!--test for display
          <h4>上线中服务器列表: </h4>
          <li><input type="checkbox" value="128.0.255.10">128.0.255.10</input></li>
          -->
        </div>
        <!--上线列表服务器HTML结束-->
      </form>
      <!--
      <div id="tips" style="display: none">
        <p><input type="checkbox" id="weight"/>同时修改权重</p>
      </div>
      -->
      <div id="change">
          <!--
          <p><input type="submit" onclick="postData()" style="width:80px;height:50px" value="修改"/></p>
          -->
      </div>
    </div>
  </body>
<script>
// 主机IP与主机名对应关系
var SERVERS = {
};

// 按列排序函数
function sortBy(field) {
    return function(a,b) {
        return a[field] - b[field];
    }
}

// 狂暴模式
function beast() {
  var ok = confirm("慎用！确定执行狂暴模式吗？该模式会将所有服务器上线并将其中一台权重设为100，其他为1");
  if (ok) {
    var _domain = $("input:radio[name=domain]:checked").val();0
    // downServers是HTML中下线中的服务器
    // up_servers是HTML中在线的服务器
    var _downServers = new Array();
    var _upServers = new Array();
    var downServers=$("input:checkbox[name=servers-down]");
    var upServers=$("input:checkbox[name=servers-up]");
    for (var i = 0; i < downServers.length; i++) {
        _downServers.push(`${downServers[i].value}W1`);
    };
    for (var i = 0; i < upServers.length; i++) {
        if (i == 0) {
          var weight = "100";
        } else {
          var weight = "1";
        }
        var value = `${upServers[i].value}W${weight}`;
        _upServers.push(value);
    };

    $.ajax({
      type: "POST",
      url: "nginx",
      dataType: "json",
      data: {
          domain: _domain,
          down_servers: _upServers.join(","),
          up_servers: _downServers.join(","),
          up_option: "up,up-weight",
          down_option: "down-weight",
      }
    }).always(function (respData) {
      alert(respData.msg);
      window.location.reload();
    });

  };
};

// 正常模式
function recover() {
  var ok = confirm("正常模式下，会将所有服务器上线，并将所有服务器权重设置为一样，确定执行?");
  if (ok) {
    var _domain = $("input:radio[name=domain]:checked").val();0
    // downServers是HTML中下线中的服务器
    // up_servers是HTML中在线的服务器
    var _downServers = new Array();
    var _upServers = new Array();
    var downServers=$("input:checkbox[name=servers-down]");
    var upServers=$("input:checkbox[name=servers-up]");
    for (var i = 0; i < downServers.length; i++) {
        _downServers.push(`${downServers[i].value}W1`);
    };
    for (var i = 0; i < upServers.length; i++) {
        var value = `${upServers[i].value}W1`;
        _upServers.push(value);
    };

    $.ajax({
      type: "POST",
      url: "nginx",
      dataType: "json",
      data: {
          domain: _domain,
          down_servers: _upServers.join(","),
          up_servers: _downServers.join(","),
          up_option: "up,up-weight",
          down_option: "down-weight",
      }
    }).always(function (respData) {
      alert(respData.msg);
      window.location.reload();
    });
  };
};




// 当选中相关域名时,动态AJAX请求
function get_backends(domain) {
    $.ajax({
      type: "POST",
      url: "domain/backends",
      dataType: "json",
      data: {
          domain: domain,
      }
    }).always(function (data) {
        if (data.status == 200 && data.err_msg == "") {
          var serverDown = $("#server-down");
          var serverUp = $("#server-up");
          var serverObj = getUpDown(data.servers);
          var downServers = serverObj.downServers;
          var upServers = serverObj.upServers;
          if (downServers.length == 0){
            serverDown.html("");
            serverDown.append("<p>暂无下线服务器</p>");
          }else{
            appendToDiv(serverDown, downServers, "down");
          };
          if (upServers.length == 0){
            serverUp.html("");
            serverUp.append("<p>暂无上线中服务器</p>");
          }else{
            appendToDiv(serverUp, upServers, "up");
          };
          var change = $("#change");
          change.html("");
          change.append(`
              <p><input type="submit" onclick="postData()" style="width:80px;height:50px" value="修改"/></p>
              <p><button onclick="beast()">狂暴流量打死模式</button><button onclick="recover()">正常平均分配模式</button></p>
              <p style="color: red">后两种模式请慎用</p>
          `);
        }else{
          alert(`发生错误: ${data.err_msg}`);
        };
        var info = $("#tips");
        info.css("display", "block");
    });
};

// 获取选中的事件触发AJAX请求
$("input:radio[name='domain']").change(function() {
    var domain = this.value;
    get_backends(domain);
});

function checkData(){
  // 已下线服务器，在已下线列表中未选中的数据
  var downServers=$("input:checkbox[name=servers-down]");
  // 待下线服务器，在已上线列表中选中的数据
  var downData=$("input:checkbox[name='servers-up']:checked");
  // 已上线服务器，在上线列表中所有的数据
  var upServers=$("input:checkbox[name=servers-up]");
  // 待上线服务器
  var upData=$("input:checkbox[name=servers-down]:checked");
  // 对已上线服务器的操作
  var option = $("p.server-list input:radio:checked").val()
  // 所有服务器
  var all=$("input.servers:checkbox");
  if (downData.length == 0 && upData.length == 0) {
      alert("请至少选择一台服务器进行操作!");
      return false;
  };
  if ((downServers.length + downData.length) == all.length && option == "down") {
    alert("不能全部同时下线，至少保留一台在线状态！");
    return false;
  };
  // 检查待下线权重合法性
  for (var i=0;i < downData.length; i++) {
    var _server_html = downData[i];
    var _server = _server_html.value;
    var _weight = $(`input.weight[name='${_server}']`).val();
    var _weight = parseInt(_weight);
    if (_weight % 1 !== 0 || _weight <= 0 || _weight > 100) {
      alert("权重不合法，范围为1-100的整型数字!");
      return false;
    };
  };

  // 检查待上线权重合法性
  for (var i = 0; i < upData.length; i++) {
    var _server_html = upData[i];
    var _server = _server_html.value;
    var _weight = $(`input.weight[name='${_server}']`).val();
    var _weight = parseInt(_weight);
    if (_weight % 1 !== 0 || _weight <= 0 || _weight > 100) {
      alert("权重不合法，范围为1-100的整型数字!");
      return false;
    };
  };
  return true;
};

// 将服务器列表分离出上/下线的机器
function getUpDown(servers){
  var _downServers = new Array();
  var _upServers = new Array();
  for (i=0; i< servers.length; i++) {
    var _server = servers[i];
    var _server_lst = _server.split(" ");
    var _tag = _server_lst[0];
    if (_tag.startsWith('#')) {
      var _server = _server.replace('#', '').trimStart().split(" ")[1];
      // _server = 172.18.0.203:80W10
      var _addrPort = _server.split("W")[0];
      var _weight = _server.split("W")[1];
      var _addr = _addrPort.split(":")[0];
      var _name = SERVERS[_addr];
      var serverObj = {name: _name, addr: _addrPort, weight: _weight};
      // console.log(serverObj);
      _downServers.push(serverObj);
    }else{
      var _server = _server_lst[1];
      var _addrPort = _server.split("W")[0];
      var _weight = _server.split("W")[1];
      var _addr = _addrPort.split(":")[0];
      var _name = SERVERS[_addr];
      var serverObj = {name: _name, addr: _addrPort, weight: _weight};
      _upServers.push(serverObj);
    };
  };
  return {downServers: _downServers.reverse(sortBy("name")), upServers: _upServers.reverse(sortBy("name"))};
};

// 将指定服务信息添加进DIV中
function appendToDiv(div, servers, type){
  div.html("");
  // 增加头部信息
  if (type == "down"){
    var color = "red";
    div.append("<h4>已下线服务器列表: </h4>");
  }else if (type == "up"){
    var color = "green";
    div.append("<h4>在线中服务器列表: </h4>");
  };
  for (var i = 0;i < servers.length; i++){
    // _server is like 128.0.255.10w1
    var _server = servers[i];
    var _server_full = _server.addr
    var _server_weight = _server.weight;
    var _server_name = _server.name;

    if (_server_name == undefined) {
      var htmlContent = `${_server_full}&nbsp;`
    } else {
      var htmlContent = `${_server_full}&nbsp;&nbsp;${_server_name}`;
    };

    var liHtml = `
      <li style="color:${color}">
        <input class="servers" name="servers-${type}" type="checkbox" value="${_server_full}">${htmlContent}</input>
        Weight:&nbsp;<input class="weight" name="${_server_full}" type="text" value="${_server_weight}"></input>
      </li>
    `;
    div.append(liHtml);
  };

  // 增加尾部信息
  if (type == "down" && servers.length != 0){
    var name = "up";
    var display = "上线";
    var inputType = "checkbox";
  }else if (type == "up" && servers.length !=0 ){
    var name = "down";
    var display = "下线";
    var inputType = "radio";
  };
  var divContext = `
      <p class="server-list">操作类型:
        <input type="${inputType}" name="${name}" value="${name}" checked>${display}</input>
        <input type="${inputType}" name="${name}" value="${name}-weight">修改权重</input>
      </p>
  `
  div.append(divContext);
};

function getFormObj(formId) {
    var formObj = {};
    var inputs = $('#'+formId).serializeArray();
    $.each(inputs, function (i, input) {
        /*
        if (formObj[input.name].startsWith("servers")){
          formObj[input.name] = new Array();
        }
        */
        formObj[input.name] = input.value;
    });
    return formObj;
};

function postData() {
  if (checkData()) {
    var _domain = $("input:radio[name=domain]:checked").val();
    var _downServers = new Array();
    var _upServers = new Array();
    var down_options = new Array();
    var option = $("p.server-list input:checked");
    var down_option = $("p.server-list input:checkbox:checked")
    for (var i=0; i < down_option.length; i++){
      down_options.push(option[i].value);
    };
    var up_option = $("p.server-list input:radio:checked").val()
    $("input:checkbox[name=servers-down]:checked").each(function(){
      var _server = $(this).val();
      var _weight = $(`input:text[name='${_server}']`).val();
      _downServers.push(`${_server}W${_weight}`);
    });

    $("input:checkbox[name=servers-up]:checked").each(function(){
      var _server = $(this).val();
      var _weight = $(`input:text[name='${_server}']`).val();
      _upServers.push(`${_server}W${_weight}`);
    });

    if (_downServers.length == 0){
      _downServer = "";
    }else{
      _downServer = _downServers.join(",");
    };

    if (_upServers.length == 0){
      _upServer = "";
    }else{
      _upServer = _upServers.join(",");
    };

    $.ajax({
      type: "POST",
      url: "nginx",
      dataType: "json",
      data: {
          domain: _domain,
          down_servers: _upServer,
          up_servers: _downServer,
          up_option: down_options.join(","),
          down_option: up_option,
      }
    }).always(function (respData) {
      alert(respData.msg);
      window.location.reload();
    });
  };
};
</script>
</html>
